.nav, .pagination, .carousel, .panel-title a { 
	cursor: pointer; 
}

body {
	background-color: #ebf2f9;
	margin-left: 5px;
}

.col-md-4 {
	max-width: 230px;	
}

.panel {
	margin: 1px;
}

project {
	font-size: 10pt;
}

plan {
	font-size: 14pt;
}

/*-------------------------
	days, changes
--------------------------*/
days, changes {
	font-size: 30pt;
	font-style: italic;
}

changes {
	margin-left: 10px;
}

days {
	background-size: 75px 90px;
	padding: 10px;
	background-position:center;
}

.since {
	font-size: 11px;
}

/*-------------------------
	buildnumber
--------------------------*/
#buildNumber {
	font-size: 30pt;
}

.col-md-1 {
	width: 100px;	
}

/*-------------------------
	pipelinestage stage
--------------------------*/



.col-md-10 {
	max-width: 700px;	
}

/*-------------------------
	contributors
--------------------------*/
.contributorPic {
	width: 40px;
	margin-bottom: 20px;
}


