.nav, .pagination, .carousel, .panel-title a { 
	cursor: pointer; 
}

body {
	background-color: #ebf2f9;
	margin-left: 5px;
}

.panel {
	margin: 1px;
}

/*-------------------------
	plan, projects
--------------------------*/

project {
	font-size: 10pt;
}

plan {
	font-size: 14pt;
	font-weight: bold;
}

/*-------------------------
	days, changes
--------------------------*/

days, changes {
	font-size: 28pt;
	font-style: italic;
	font-weight: bold;
}

changes {
	margin-left: 10px;
}

/*-------------------------
	buildnumber
--------------------------*/
#buildNumber {
	font-size: 25pt;
}

/*-------------------------
	pipelinestage stage
--------------------------*/
ol.pipelineTracker {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

ol.pipelineTracker li {
	display: inline-block;
	line-height: 3em;
	margin-top: 2em;
}

.CD_SUCCESS {
	color: #14892c;
	/*border-top: 4px solid #14892c;*/
}

.CD_FAILED {
	color: #d04437;
	/*border-top: 4px solid #d04437;*/
}

.CD_NOT_BUILT, .CD_MANUALLY_PAUSED {
	color: #707070;
	/*border-top: 4px solid #707070;*/
}

.CD_IN_PROGRESS {
	color: #3b73af;
	/*border-top: 4px solid #3b73af;*/
}

.stageLine {
	border-top: 4px solid #ebf2f9;
}

.stageCircle {
	margin: ;
	position: relative;
	top: -1em;
	content: "";
	background-color: #14892c;
	height: 1.5em;
	width: 1.5em;
	border: none;
	border-radius: 100%;
}

li div.CD_SUCCESS {
    background-color: #14892c;
}

li div.CD_FAILED {
    background-color: #d04437;
}

li div.CD_NOT_BUILT {
    background-color: #707070;
}

li div.CD_MANUALLY_PAUSED {
    content: "||";
    color: white;
    background-color: #707070;
}

li div.CD_IN_PROGRESS {
    background-color: #3b73af;
}

/*
ol.pipelineTracker li:before {
    position: relative;
    top: -1em;
    left: -1em;
    float: left;
    content: "";
    height: 1.5em;
    width: 1.5em;
    line-height: 1.5em;
    border: none;
    border-radius: 1.5em;
}


ol.pipelineTracker li.CD_SUCCESS:before {
    background-color: #14892c;
}

ol.pipelineTracker li.CD_FAILED:before {
    background-color: #d04437;
}

ol.pipelineTracker li.CD_NOT_BUILT:before {
    background-color: #707070;
}

ol.pipelineTracker li.CD_MANUALLY_PAUSED:before {
    content: "||";
    color: white;
    background-color: #707070;
}

ol.pipelineTracker li.CD_IN_PROGRESS:before {
    background-color: #3b73af;
}
*/
/*-------------------------
	contributors
--------------------------*/

.CDcontributor {
	margin-left: 3px;
	margin-right: 3px;
}

/*------------------------------------
	arrangement of one result panel
--------------------------------------*/

.panel-body {
	height : 150px;
	margin-top: 5px;
	margin-bottom: 0px;
}

#board {
	position: relative;
	width: 86%;
	margin-left: auto;
	margin-right: auto;
}

.animate-repeat {
	position: absolute;
	width: 100%;
	height: 150px;
	margin-left: auto;
	margin-right: auto;
}

/*------------------------------------
	transition animation
--------------------------------------*/

.animate-repeat {
    -webkit-transition: top 1.5s ease-in-out;
	-moz-transition: top 1.5s ease-in-out;
	transition: top 1.5s ease-in-out;
}

.animate-repeat.ng-enter, 
.animate-repeat.ng-leave
{ 
    -webkit-transition: 400ms cubic-bezier(0.420, 0.000, 0.580, 1.000) all;
    -moz-transition: 400ms cubic-bezier(0.420, 0.000, 0.580, 1.000) all;
    -ms-transition: 400ms cubic-bezier(0.420, 0.000, 0.580, 1.000) all;
    -o-transition: 400ms cubic-bezier(0.420, 0.000, 0.580, 1.000) all;
    transition: 400ms cubic-bezier(0.420, 0.000, 0.580, 1.000) all;
    display: block;
} 
 
.animate-repeat.ng-enter.ng-enter-active, 
.animate-repeat.ng-leave {
    opacity: 1;
    top: 0;
    height: 30px;
}
 
.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-enter {
    opacity: 0;
    top: -50px;
    height: 0px;
}

