<!-- main page of the CDPipeline plugin which displays relevant information on builds-->
<!DOCTYPE html>

	<head>
		<title>CDPipeline Wallboard</title> <!-- update once we have an agreed name -->
		<meta name="decorator" content="atl.general">
		
		<!-- css -->
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
		
		<!-- scripts -->
		${webResourceManager.requireResource("com.cobalt.cdpipeline.cdpipeline:cdpipeline-resources")}
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.js"></script>
	</head>


	<body>
	<div ng-app="CDPipeline">

		<!-- the pop up window -->
		<div id="popUp" ng-controller="ModalController">
		    <script type="text/ng-template" id="Details.html">
		        <div class="modal-header">
		        	<a id="closeIcon" ng-click="modalCancel()" class="aui-icon aui-icon-small aui-iconfont-close-dialog"></a>
		            <h3 class="modal-title">{{ result.projectName }} - {{ result.planName }}</h3>
		            
		        </div>
		        <div class="modal-body">
		            <div ng-include="url">
		            </div>
		        </div>
		        <div class="modal-footer">
		        </div>
		    </script>

		    <script type="text/ng-template" id="Info.html">
		        <div class="modal-header">
		        	<a id="closeIcon" ng-click="modalCancel()" class="aui-icon aui-icon-small aui-iconfont-close-dialog"></a>
		        	<h3 class="modal-title"> Information </h3>        
		        </div>
		        <div class="modal-body">
		        	CD Pipeline is cool!
		        </div>
		        <div class="modal-footer">
		        	CD Pipeline - Cobalt
		        </div>
		    </script>

		<!-- main page shell -->
		<div ng-controller="MainController">

		<!-- a floating navigation bar on the left -->
			<ul class="nav-bar">
				<li ng-click="toggleHeader()"><a><i id="fullscreenIcon" class="fa fa-expand fa-2x"></i></a></li>
				<li><a href="#"><i id="return-to-top" class="fa fa-arrow-up fa-2x"></i></a></li>
				<li ng-click="modalOpen('sm', '', '', 'Info.html')"><a><i class="fa fa-info fa-2x"></i></a></li>				
			</ul>
		</div>

		<!-- search button --> 
       	<div class='search-container'>
        	<input placeholder='Enter a plan/project/person' type='text'>
          	<i class='fa fa-search fa-2x'></i>
     	</div>

		<!-- board section to display all plan's initial info -->
        <div id="board" class="container-fluid" ng-controller="BoardController" ng-style="{height: ((results.resp.length * 131) + 'px')}">

     	 	<div id="unloadedBoard" ng-hide="dataLoaded">
     			<div class="loader">Loading...</div>
       		</div>

            <div ng-show="dataLoaded" id="loadedBoard" class="animate-repeat" ng-repeat="result in results.resp | orderBy:'lastUpdateTime':true | searchFor:searchString | emptyToEnd:'lastUpdateTime' track by result.planKey" ng-style="{top: (($index * 131) + 'px')}">
				<div class="panel panel-default">
					<div class="panel-body">

					<!-- TEMPORARY PLACEMENT OF "strips.html" template for testing purposes -->

						<!-- left column -->
						<div class="col-md-2">
							<projectPlan>
								<project>
									<a ng-click="modalOpen('lg', result, '../../browse/' + result.projectKey, 'Details.html')">
										{{ result.projectName }}
									</a>
								</project><br>
								<plan>
									<a ng-click="modalOpen('lg', result, '../../browse/' + result.planKey, 'Details.html')">
										{{ result.planName }}
									</a>
								</plan>
							</projectPlan>
						</div>
						
						<div class="col-md-2">
							<lastDeploy>
								<span class="aui-lozenge aui-lozenge-complete deploy-label">Last Deployment</span><br>
								<dayChange>
									<days ng-switch="result.daysSinceDeploymentFromCurrent">
										<span ng-switch-when="-1">--</span>
										<span ng-switch-default>{{ result.daysSinceDeploymentFromCurrent }}</span></days><small> days ago</small>
									<changes>{{ result.numChanges }}</changes><small> changes</small>
								</dayChange>
							</lastDeploy>
						</div>

						<!-- right column -->
						<div class="col-md-1">		
							<div class="build-state-icon" ng-switch="result.currentBuild.cdpipelineState">
								<span ng-switch-when="CD_SUCCESS" class="icon icon-successful" title="Current build is successful"></span>
								<span ng-switch-when="CD_FAILED" class="icon icon-failed" title="Current build failed"></span>
								<span ng-switch-when="CD_IN_PROGRESS" class="icon icon-building" title="Current build is building"></span>
								<span ng-switch-when="CD_MANUALLY_PAUSED" class="icon icon-successfulPartial" title="Current build stopped at manual stage"></span>
								<span ng-switch-when="CD_NOT_BUILT" class="icon icon-disabled" title="Current build is not built"></span>
							</div>
							
							<buildNumber ng-switch="result.currentBuild.buildNumber">
								<a ng-switch-when="-1" ng-click="modalOpen('lg', result, '../../browse/' + result.planKey + '/latest', 'Details.html')">--</a>
								<a ng-switch-default ng-click="modalOpen('lg', result, '../../browse/' + result.currentBuild.buildKey + '/latest', 'Details.html')">
									#{{ result.currentBuild.buildNumber }}
								</a>
							</buildNumber>
						</div>
							

						<div class="col-md-7">	
							<!-- contributors -->
							<div class="contributorList">
								<span ng-repeat="contributor in result.contributorsSortedByLatestCommit track by contributor.username" class="aui-avatar aui-avatar-medium CDcontributor" tooltip="{{ contributor.fullname }}">
									<contributor username="{{ contributor.username }}" numCommits=" {{contributor.numCommits }}">
										<a href="{{ contributor.profilePageUrl }}">
											<span class="aui-avatar-inner">
												<img alt="{{ contributor.fullname }}" src="{{ contributor.pictureUrl }}" />
											</span>
										</a>
									</contributor>
								</span>
							</div>
					
							<!-- pipeline stages -->
							<div class="pipelineContainer">
								<span ng-repeat="pipe in result.pipelineStages track by pipe.stageName">
									<!-- show the lines between stages-->
									<div ng-if="!$first" class="stageLine {{pipe.cdpipelineState}}" style="width:{{1/(result.pipelineStages.length - 1) * 90 | number: 0}}%; left:{{5 + ($index - 1) * (1/(result.pipelineStages.length - 1) * 90) | number: 0}}%">
										<div class="innerStageLine {{pipe.cdpipelineState}}"></div>
									</div>

									<!-- show stage circle and name-->
									<div class="stage {{pipe.cdpipelineState}}" style="left:{{$index * ((result.pipelineStages.length | pipelineWidth) * 90) | number: 0}}%">
										<div class="stageCircle {{pipe.cdpipelineState}}" ng-switch="pipe.cdpipelineState">
											<div class="quarter top-anim"></div>
											<div class="quarter top-anim"></div>
											<div class="quarter bottom-anim"></div>
											<div class="quarter bottom-anim"></div>
											<div class="full"></div>
											<span ng-switch-when="CD_MANUALLY_PAUSED" class="glyphicon glyphicon-hand-right pausedIcon" tooltip="Manually Paused"></span>
										</div>
										<div class="stageNameContainer">
											<stageName ng-attr-title="{{ pipe.stageName }}">
												<strong>{{ pipe.stageName }}</strong>
											</stageName>
										</div>
									</div>
								</span>
							</div>
						</div>


					<!-- END TEMPLATE -->

					</div>
				</div>
			</div>
		</div>
	</body>

</html>