<!-- main page of the CDPipeline plugin which displays relevant information on builds-->
<!DOCTYPE html>

	<head>
		<title>CDPipeline Wallboard</title> <!-- update once we have an agreed name -->
		<meta name="decorator" content="atl.general">
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
		
		${webResourceManager.requireResource("com.cobalt.cdpipeline.cdpipeline:cdpipeline-resources")}
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		${webResourceManager.requireResource("com.atlassian.auiplugin:aui-experimental-progress-tracker")}
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.js"></script>
	</head>


	<body>
	<div ng-app="CDPipeline">
	
		<!-- main page shell -->
		<div ng-controller="MainController">
			<div class="alert alert-info alert-dismissible" role="alert">
 				<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
 				<strong>Hey!</strong> This is CDPipeline v2 but with AngularJS now cool
			</div>
		</div>

		<!-- sidebar section for expanded info -->
		<!-- <div id="side" ng-controller="SideController">

		</div> -->

		<!-- board section to display all plan's initial info -->
         <div id="board" class="container-fluid" ng-controller="BoardController" ng-style="{height: ((results.resp.length * 150) + 'px')}">
            <div class="animate-repeat" ng-repeat="result in results.resp | orderBy:'lastUpdateTime':true track by result.planKey"
                                        ng-style="{top: (($index * 150) + 'px')}">
				<div class="panel panel-default">
					<div class="panel-body">

					<!-- TEMPORARY PLACEMENT OF "strips.html" template for testing purposes -->

						<!-- left column -->
						<div class="col-md-2">
							<projectPlan>
								<project>{{ result.projectName }}</project> <br />
								<plan>{{ result.planName }}</plan>
							</projectPlan>
						</div>
						
						<div class="col-md-2">
							<lastDeploy>
								<span class="aui-lozenge aui-lozenge-complete deploy-label">Last Deployment</span><br>
								<dayChange>
									<days ng-switch="result.daysSinceDeploymentFromCurrent">
										<span ng-switch-when="-1">--</span>
										<span ng-switch-default>{{ result.daysSinceDeploymentFromCurrent }}</span></days><small> days ago</small>
									<changes>{{ result.numChanges }}</changes><small> changes</small>
								</dayChange>
							</lastDeploy>
						</div>

						<!-- right column -->
						<div class="col-md-1">		
							<!--place AUI icon here, get logic in directive -->
							<buildNumber>
								<a href="../../browse/{{result.currentBuild.buildKey}}/latest">
									#{{ result.currentBuild.buildNumber }}
								</a>
							</buildNumber>
						</div>
							

						<div class="col-md-7">	
							<!-- contributors -->
							<div class="contributorList">
								<span ng-repeat="contributor in result.contributorsSortedByLatestCommit" class="aui-avatar aui-avatar-medium CDcontributor" tooltip="{{ contributor.fullname }}">
									<contributor username="{{ contributor.username }}" numCommits=" {{contributor.numCommits }}">
										<a href="{{ contributor.profilePageUrl }}">
											<span class="aui-avatar-inner">
												<img alt="{{ contributor.fullname }}" src="{{ contributor.pictureUrl }}" />
											</span>
										</a>
									</contributor>
								</span>
							</div>
					
							<!-- pipeline stages -->
							<div class="pipelineContainer">
								<span ng-repeat="pipe in result.pipelineStages">
									<!-- show the lines between stages-->
									<div ng-if="!$first" class="stageLine {{pipe.cdpipelineState}}" style="width:{{1/(result.pipelineStages.length - 1) * 90 | number: 0}}%; left:{{5 + ($index - 1) * (1/(result.pipelineStages.length - 1) * 90) | number: 0}}%">
										<div class="innerStageLine {{pipe.cdpipelineState}}"></div>
									</div>

									<!-- show stage circle and name-->
									<div class="stage {{pipe.cdpipelineState}}" style="left:{{$index * (1/(result.pipelineStages.length - 1) * 90) | number: 0}}%">
										<div class="stageCircle {{pipe.cdpipelineState}}"></div><strong>{{ pipe.stageName }}</strong>
									</div>
								</span>
							</div>
						</div>


					<!-- END TEMPLATE -->

					</div>
				</div>
			</div>
		</div>
	</body>

</html>