<!-- Velocity file interface to be displayed for CDPipeline -->
<html>
	<head>
		<title>Pipeline Information Radiator - Team Superpipe</title>
		<!-- applies Atlassian UI -->
		<meta name="decorator" content="deploymentMinimal">
		<!-- makes table sortable -->
		${webResourceManager.requireResource("com.atlassian.auiplugin:aui-experimental-table-sortable")} 
		${webResourceManager.requireResource("com.cobalt.cdpipeline:cdpipeline-resources")}

	</head>

	<body class="aui-layout aui-style-default">
		<div id="page">
		<section id="content" role="main">
		<!-- header and header-actions -->
			<header class="aui-page-header">
  				<div class="aui-page-header-inner">
  					<div class="aui-page-header-main">
  						<h1 id="dashboard-instance-name">Pipeline Information Radiator</h1>
						</div>
						<div class="aui-page-header-actions">
							<div class="aui-buttons aui-dropdown2-trigger-group"></div>
					</div>
				</div>
  			</header>

  			<div class="aui-page-panel">
  				<div class="aui-page-panel-inner">
	  				<section class="aui-page-panel-content">
	  				<div class="dashboard-project">
	  					<div class="aui-message info">
  							<span class="aui-icon aui-icon-info">Info</span> 
    							currently NOT hard coded data
						</div>
		  				<!-- table of the info -->
						<table id="pipelineTable" class="aui aui-table-sortable">
							<!-- Table titles -->
							<thead>
								<tr>
									<th>Project</th>
									<th>Plan</th>
									<th>Days since Deployment</th>
									<th>Changes since Deployment</th>
									<th>Contributors</th>
									<th>Current Build</th>
									<th>Last Update</th>
									<th>Pipeline Stage</th>
								</tr>
							</thead>

							<tbody>
							#foreach ($result in $results)
								<tr>
									<td><a href="../../browse/$result.getProjectKey()">$result.getProjectName()</a></td>
									<td><a href="../../browse/$result.getPlanKey()">$result.getPlanName()</a></td>
									<td>
										#set ($days = $result.getDaysSinceDeploymentFromCurrent())
										#if ($days == -1)
											--
										#else
											$days
										#end
									</td>
									<td>$result.getNumChanges()</td>
									<td>
										#set ($setContributors = $result.getContributorsSortedByLatestCommit())
										#set ($contributorSize = $setContributors.size())
										#if ($contributorSize == 0)
											--
										#else
											#set ($contributorCount = 1)
											#foreach ($contributor in $setContributors)
												<a href="$contributor.getProfilePageUrl()">
													<img alt="$contributor.getFullname()" title="$contributor.getFullname()" src="$contributor.getPictureUrl()" />
												</a>
												#if ($contributorCount < $ContributorSize)
													, 
												#end
												#set ($contributorCount = $contributorCount + 1)
											#end
										#end
									</td>
									<td><a href="../../browse/$result.getCurrentBuild().getBuildKey()/latest">$!result.getCurrentBuild().getBuildNumber()</a></td>
									<td>$!result.lastUpdateTime</td>
									<td>
										#set ($pipelineCount = 1)
										#set ($pipelineSet = $result.getPipelineStages())
										#set ($pipelineSize = $pipelineSet.size())
										#foreach ($pipeline in $pipelineSet)
											$pipeline.getStageName() [$pipeline.getState()]
											#if ($pipelineCount < $pipelineSize)
												=>
											#end
											
											#set ($pipelineCount = $pipelineCount + 1)

										#end
									</td>
								</tr>
							#end
							</tbody>
						</table>
						</div>
					</section>
				</div>
			</section>
		</div>

		<footer id="footer" class="bamboo-footer">

		</footer>
	</body>
</html>
