<!-- left column -->
<div class="col-md-4">
	<div>
		<project>{{ result.projectName }}</project>
	</div>

	<div>
		<strong><plan>{{ result.planName }}</plan></strong>
	</div>

	<div>
		<strong><days>{{ result.daysSinceDeploymentFromCurrent }}</days></strong> DAYS 
		<strong><changes>{{ result.numChanges }}</changes></strong> CHANGES
	</div>
</div>

<!-- right column -->
<div class="col-md-8" id="leftContainer">
	<div class="row">
		<!--place AUI icon here, get logic in directive -->
		<div id="buildNumber" class="col-md-1">
			<strong><build>#{{ result.currentBuild.buildNumber }}</build></strong>
		</div>

		<div id="pipelineContributor" class="col-md-10">
		
			<div>
				<ol class="aui-progress-tracker" >
											
			    	<li ng-repeat="pipe in result.pipelineStages" ng-class="{true: 'aui-progress-tracker-step', false: 'aui-progress-tracker-step aui-progress-tracker-step-current'}[{{pipe.state == 'SUCCESS'}}]" style="width:{{1/result.pipelineStages.length * 100 | number: 0}}%" >
				  		<span><stageBuild>{{ pipe.stageName }}</stageBuild><state>{{pipe.state}}</state></span>
				  	</li>

					
					
		
				</ol>
			</div>

			<div>
				<span ng-repeat="contributor in result.contributorsSortedByLatestCommit" popover="{{ contributor.fullname }}" popover-trigger="mouseenter">
					<contributor username="{{ contributor.username }}" numCommits=" {{contributor.numCommits }}">
						<a href="{{ contributor.profilePageUrl }}">
							<img alt="{{ contributor.fullname }}" src="{{ contributor.pictureUrl }}" />
						</a>
					</contributor>
				</span>
			</div>
		</div>
	</div>
</div>

